<div class="card1 pb-5">
    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <%= image_tag("Cohort analysis.gif", :alt => "rss feed") %></div>
    </div>
</div>
<div class="text-center">
    <h1>TODO App @Avion School</h1>
    <small class="text-muted">
        @alright reserve 2021-2022
    </small>
</div>
